<div ng-controller="RolesCtrl">
  <ul>
    <li class="list-group-item" ng-repeat="role in roles"><b>{{role}}</b> <a href="#" ng-click="showRole(role, 'chef11-preprod')">[preprod]</a> <a href="#" ng-click="showRole(role, 'chef11-preprod')">[prod]</a> <a href="#" ng-click="showRoleDiff(role, 'chef11-preprod', 'chef11-prod')">[diff]</a></li>
  </ul>
</div>
